*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Khula', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #3A2E39;
    display: flex;
    justify-content: center;
    align-items: center;
}

.budget-container {
    position: relative;
    width: 500px;
    height: 700px;
    background-color: #1E555C;
    border-radius: 1rem;
}


.app-title {
    color: white;
    font-size: 1.6rem;
    margin-left: 2rem;
    margin-top: 4rem;
}

.budget-header {
    color: white;
}

.balance {
    margin-left: 2rem;
    margin-top: 4rem;
}

.balance .title {
    font-size: 2rem;
}

.balance .value {
    font-size: 4rem;
    font-weight: bold;
}

.account {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    font-size: 1.6rem;
}

.income {
    font-weight: bold;
}

.outcome {
    color: #f0624d;
    font-weight: bold;
}

.income .title, .outcome .title {
    opacity: 0.9;
}

.income-total, .outcome-total {
    font-size: 2rem;
}

.budget-dashboard {
    position: absolute;
    height: 55%;
    width: 100%;
    bottom: 0;
    background-color: white;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.dash-title {
    color: #1a0034;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-left: 2rem;
}

.toggle {
    margin-top: 2rem;
    margin-left: 2rem;
    font-size: 2rem;
    display: flex;
    cursor: pointer;
    color: #1a0034;
}

.tab1, .tab2, .tab3 {
    margin-right: 2rem;
    transition: all 0.2s ease-in-out;
}

.tab1:hover, .tab2:hover, .tab3:hover {
    transform: scale(1.1);
}

.active {
    opacity: 1 !important;
}

.hide {
    display: none;
}

.list {
    margin-top: 1rem;
    margin-left: 2rem;
    font-size: 2rem;
    font-weight: bold;
}

.list .entry {
    width: 80%;
    word-wrap: break-word;
}

.list .income {
    display: flex;
}

.list .expense {
    display: flex;
}

.list .all {
    display: flex;
}

#all #edit {
    visibility: hidden;
}

.expense {
    color: #f0624d;
}

.input {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #ccc;
    display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.fa-plus-square {   
    cursor: pointer;
    color: #0FFF95;
    font-size: 3rem;
    margin: 1rem;
    transition: all 0.2s ease-in-out;
}

.fa-plus-square:active {
    transform: scale(1.1);
}

.fa-trash {
    cursor: pointer;
    margin-left: 2rem;
    color: #F0386B;
}

.fa-edit {
    cursor: pointer;
    color: #49C6E5;
}


#all, #income, #expense {
    overflow: auto;
    height: 60%;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#income-title-input,
#expense-title-input,
#income-amount-input,
#expense-amount-input {
    margin-left: 2rem;
    border: none;
    outline: none;
    font-size: 2rem;
    width: 45%;
}

::-webkit-input-placeholder {
    font-size: 2rem;
  }

  @media (max-width: 500px) {
    .budget-container {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .budget-dashboard {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}